.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  border: 1px solid #000;
}

.calendar-header {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.calendar-header button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0f0; */
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.calendar-header span {
  font-weight: bold;
  font-size: 20px;
  padding: 0px 10px;
  padding-top: 3px;
  display: inline-block;
  width: 140px;
  text-align: center;
}

.calendar-day-label {
  text-align: center;
  font-weight: bold;
  background-color: #fff;
  height: 30px;
  line-height: 30px;
}

.calendar-day {
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  width: 130px;
  height: 80px;
}

.current-month {
  /* background-color: #eaf6ff; */
  background-color: white;
}

.other-month {
  background-color: #f0f0f0;
}

.arrow-img {
  width: 16px;
  height: auto;
}

.calendar-kcal {
  width: 115px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  color: black;
}

.spoon-img {
  height: 14px;
  width: auto;
  margin-right: 4px;
}
