.join-content {
  height: 480px;
}

.join2-content {
  height: 400px;
}

.half-item {
  display: flex;
  justify-content: flex-start;
}
.half-item input {
  width: 50%;
}

.join-content input[type="radio"] {
  cursor: pointer;
  vertical-align: middle;
  appearance: none;
  border: 2px solid gray;
  background-color: #f8f9fb;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.join-content input[type="radio"]:checked {
  /*border: 4px solid tomato;*/
  border: 4px solid #404040;
}

.join-content .radio-container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  line-height: 16px;
  height: 30px;
}

.join-content .radio-item {
  width: 162px;
}

.join-content .half-unit input {
  margin-right: 6px;
}

.radio-item {
  display: flex;
  align-items: center;
}
.radio-item span {
  line-height: 14px;
}

.radio-item input {
  margin-right: 6px;
}
