.clicked {
  color: #262422;
  font-weight: 800;
}

.button-and-date {
  display: flex;
  align-items: center;
}

.button-and-date button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.button-and-date .month {
  font-weight: bold;
  font-size: 18px;
  padding: 0px 10px;
}
.arrow-img {
  width: 16px;
  height: auto;
}
