<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cal로리</title>
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/login_page.css" />
  </head>
  <body>
    <div class="container">
      <!-- 고정헤더영역 -->
      <div class="header">
        <div class="common-inner header-content">
          <div class="header_left">
            <a href="./index.html" class="title">
              <img src="../assets/images/main_icon.png" alt="홈 아이콘" />
              <span>Cal로리</span>
            </a>
            <ul class="nav_list">
              <li class="nav_item"><a href="./upload.html">식단 업로드</a></li>
              <li class="nav_item"><a href="#">Daily 식단</a></li>
              <li class="nav_item"><a href="#">식단 통계</a></li>
            </ul>
          </div>
          <div class="header_right">
            <span class="button login_btn">
              <a href="./login.html">Login</a>
            </span>
            <span class="button join_btn"><a href="./join.html">Join</a></span>
          </div>
        </div>
      </div>
      <!-- // 고정헤더영역 -->

      <!-- 메인 영역 -->
      <div class="main">
        <div class="login-content success-content">
          <div class="success-title">환영합니다, 000님!</div>
          <img
            src="../assets/images/welcome.png"
            alt="환영합니다 사진"
            class="success-img"
          />
        </div>
      </div>
      <!-- // 메인영역 -->
    </div>
  </body>
</html>
