.mypage-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1280px;
  padding-left: 20px;
}

.mypage-title {
  font-size: 22px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
}
.userinfo-container {
  width: 500px;
  border: 2px solid #d0d0d0;
  border-radius: 15px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.userinfo-box:nth-child(2) {
  margin-top: 20px;
}

.userinfo-content {
  display: flex;
  align-items: flex-end;
  height: 28px;
  margin-bottom: 10px;
}

.userinfo-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1.2px solid #e5e7eb;
  margin-bottom: 10px;
  padding-bottom: 6px;
}
.userinfo-label {
  width: 120px;
  color: #6b747d;
}

.userinfo-value {
}

.delete-box {
  display: flex;
  justify-content: flex-end;
}

.userinfo-btn {
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 14px;
  width: 40px;
  height: 24px;
}

.info-with-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-account {
  width: 80px;
  margin-top: 10px;
}
